* {
  background-color: #1f1f1f;
  color: white;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaCove Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#network {
  margin-right: 13px;
}

tooltip {
  padding: 2px;
}

#bluetooth {
  margin-right: 17px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

